
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');


#nav-logo{
    width: 65px;
    border-radius: 50%;
    margin-top: 5px;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
}
.Navigation-head{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    /* padding: 20px; */
    height: 60px;
    /* opacity: 1; */
}
.nav-options{
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    width: 750px;
}

.nav-options a{
    text-decoration: none;
    font-size: 12px;
    color: #222;
    font-weight:bolder;
}

.nav-options-acc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    transition: all 0.3s;
    position: relative;
}

.nav-options-acc h2{
    font-size: 12px;
    color: #222;
}

.nav-options-drop{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.nav-options-drop h2{
    font-size: 12px;
    color: #222;   
    display: flex;
    align-items: center;
}

.nav-options-drop-sub{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 55px;
    margin-left: 10px;
    background-color: #fff;
    width: 130px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.12);
    visibility: hidden;
    z-index: 2;
}

.nav-options-drop-sub a{
    text-decoration: none;
    line-height: 30px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 2;
}

.sub{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-options-drop:hover  .nav-options-drop-sub {
    visibility: visible;
}

.sub-sub{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    transition: all 0.3s;
}

.sub-sub::after{
    position: absolute;
    content:"";
    width:100%;
    bottom:10px;
    height: 2px;
    background-color: red;
    left:0;
    opacity: 0;
    transition: all 0.3s;
}

.sub-sub:hover::after{
    opacity: 1;
}

.nav-options-acc::after{
    position: absolute;
    content:"";
    width:100%;
    bottom:10px;
    height: 2px;
    background-color: red;
    left:0;
    opacity: 0;
    transition: all 0.3s;
}

.nav-options-acc:hover::after{
    opacity: 1;
}